body {
    background-image: url("assets/wallpaper.png");
}

.logo {

	position: absolute;
    	left: 500px;
    	top: 150px;
	background: none !important;
	border: none !important;
}

.enter {
	position: absolute;
	left: 550px;
	top: 330px;
	border: 3px solid #000000;
  	border-radius: 0;
	-webkit-appearance: none;
	width: 450px; 
	background-color: #A8a8a8
}
