body {
    background-image: url("wallpaper.png");
}

.logo {

	position: absolute;
    	margin: auto;
    	left: 0; right: 0;
	top: 150px;
	pointer-events: none;
}

.enter {
	position: absolute;
	margin: auto;
	left: 0; right:0;
	top:20px;
	border: 2px solid #000000;
  	border-radius: 0;
	-webkit-appearance: none;
	width: 500px; 
	background-color: #A8a8a8;
}


#box {
		
		background-color: #2b8c9a;
		width: 550px;
		border: 2px solid #000000;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		padding-bottom: 20px;
		float: left;
        	text-align:center;
        	margin: auto;
        	position: absolute;
		left: 0; right: 0;
		top:350px;
}
#box p {
		font-size: 15px;
		padding: 5px;
		margin: 0px;
}

#bar {
		

}

#text {

}

#drop {
		width: 550px;
		height: 100px;
		background-color: #a8a8a8;
}
#barbg {
		width: 200px;
		height: 25px;
		font-size: 20px;
		color: #fff;
		padding: 10px;
		top:50px;
}
#list {
		width: 210px;
		font-size: 10px;
		float: left;
		margin-left: 10px;
}
